body{
	padding: 0;
	margin: 0;
}
.macbook{
	position: relative;
	margin: 100px auto;
	width: 1200px;
}
.screen{
	position: relative;
	width: 1200px;
	height: 400px;
	left: 50px;
	perspective: 1000;
	-webkit-perspective: 1000;
}
.screenborder{
	transform: rotateX(-46deg);
}
.macwallpaper{
	width: 1200px;
	height: 400px;
	border: 9px solid black;
	border-radius: 10px;
	box-shadow: 0 0 0 2px gray, 0 0 0 5px black, 0 0 0 12px gray;
}
.panel{
	position: relative;
	width: 1080px;
	height: 800px;
	background: #D8D7D7;
	left: 120px;
	top: -60px;
	border-radius: 30px;
	background-image: -webkit-linear-gradient(top, rgb(165,166,170), rgb(69,70,74));
}
.scroll{
	width: 800px;
	height: 10px;
	background: #000;
	transform: translateX(140px);
}
.scroll::before,
.scroll::after{
	content: "";
	position: absolute;
	width: 100px;
	height: 8px;
	top: 1px;
	background: -webkit-linear-gradient(top,#939191,#BFBFBF,#D8D7D7,#BFBFBF,#939191);
}
.scroll::after{
	left: 700px;
}
.keyboard{
	position: relative;
	top: 40px;
	left: 60px;
	width: 952px;
	padding: 3px;
	height: 380px;
	border: 3px solid;
	border-color: #4C4B4B #DBDADA #DBDADA #DBDADA;
	border-radius: 14px;
}
.keyboard_line1{
	position: relative;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: repeat(14, 1fr);
	grid-template-rows: 1fr;
}
.keyboard_line1 > section{
	background: #000;
	color: #fff;
	border-radius: 7px;
	text-align: center;
	max-width: 66px;
	height: 30px;
	line-height: 30px;
}
.keyboard_line2{
	position: relative;
	margin-top: 3px;
	margin-right: 4px;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: repeat(13, 1fr) 1.5fr;
	grid-template-rows: 1fr;
	grid-gap: 3px;
}
.keyboard_line2 > section{
	background: #000;
	color: #fff;
	border-radius: 7px;
	text-align: center;
	max-width: 151px;
	height: 66px;
	line-height: 66px;
}
.keyboard_line3{
	position: relative;
	margin-top: 3px;
	margin-right: 4px;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: 1.5fr repeat(13, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 3px;
}
.keyboard_line3 > section{
	background: #000;
	color: #fff;
	border-radius: 7px;
	text-align: center;
	max-width: 150px;
	height: 66px;
	line-height: 66px;
}
.keyboard_line4{
	position: relative;
	margin-top: 3px;
	margin-right: 4px;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: 1.8fr repeat(11, 1fr) 1.8fr;
	grid-template-rows: 1fr;
	grid-gap: 3px;
}
.keyboard_line4 > section{
	background: #000;
	color: #fff;
	max-width: 150px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	border-radius: 7px;
}
.keyboard_line5{
	position: relative;
	margin-top: 3px;
	margin-right: 4px;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: 2.2fr repeat(10, 1fr) 2.2fr;
	grid-template-rows: 1fr;
	grid-gap: 3px;
}
.keyboard_line5 > section{
	background: #000;
	color: #fff;
	max-width: 250px;
	height: 66px;
	line-height: 66px;
	border-radius: 7px;
	text-align: center;
}
.keyboard_line6{
	position: relative;
	margin-top: 3px;
	margin-right: 4px;
	left: 2px;
	top: 2px;
	display: grid;
	grid-template-columns: repeat(3, 1fr) 1.2fr 5.3fr 1.2fr repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-gap: 3px;
}
.keyboard_line6 > section{
	background: #000;
	color: #fff;
	max-width: 400px;
	height: 66px;
	line-height: 66px;
	border-radius: 7px;
	text-align: center;
}
.updown > span{
	display: block;
	width: 100%;
	height: 50%;
	line-height: 200%;
}
.updown > span:nth-of-type(1){
	border-bottom: 2px solid #939191;
}
.touchpad{
	transform: translate(270px, 50px);
	width: 520px;
	height: 325px;
	border: 2px solid;
	border-color: #333 #333 #666 #333;
	border-radius: 10px;
}
.touchpad::before{
	content: "";
	position: absolute;
	width: 165px;
	height: 10px;
	background-image: -webkit-linear-gradient(top, #333,#999);
	border-radius: 10px 10px 0 0;
	transform: translate(150px, 336px);
}
.sound{
	width: 3px;
	height: 3px;
	background: #444;
	position: absolute;
	border-radius: 50%;
	transform: translate(10px, 50px);
	box-shadow: 5px 0 0 0 #444, 10px 0 0 0 #444, 15px 0 0 0 #444, 20px 0 0 0 #444, 25px 0 0 0 #444, 30px 0 0 0 #444, 35px 0 0 0 #444, 40px 0 0 0 #444,
	0 5px 0 0 #444, 5px 5px 0 0 #444, 10px 5px 0 0 #444, 15px 5px 0 0 #444, 20px 5px 0 0 #444, 25px 5px 0 0 #444, 30px 5px 0 0 #444, 35px 5px 0 0 #444, 40px 5px 0 0 #444,
	0 10px 0 0 #444, 5px 10px 0 0 #444, 10px 10px 0 0 #444, 15px 10px 0 0 #444, 20px 10px 0 0 #444, 25px 10px 0 0 #444, 30px 10px 0 0 #444, 35px 10px 0 0 #444, 40px 10px 0 0 #444,
	0 15px 0 0 #444, 5px 15px 0 0 #444, 10px 15px 0 0 #444, 15px 15px 0 0 #444, 20px 15px 0 0 #444, 25px 15px 0 0 #444, 30px 15px 0 0 #444, 35px 15px 0 0 #444, 40px 15px 0 0 #444,
	0 20px 0 0 #444, 5px 20px 0 0 #444, 10px 20px 0 0 #444, 15px 20px 0 0 #444, 20px 20px 0 0 #444, 25px 20px 0 0 #444, 30px 20px 0 0 #444, 35px 20px 0 0 #444, 40px 20px 0 0 #444,
	0 25px 0 0 #444, 5px 25px 0 0 #444, 10px 25px 0 0 #444, 15px 25px 0 0 #444, 20px 25px 0 0 #444, 25px 25px 0 0 #444, 30px 25px 0 0 #444, 35px 25px 0 0 #444, 40px 25px 0 0 #444,
	0 30px 0 0 #444, 5px 30px 0 0 #444, 10px 30px 0 0 #444, 15px 30px 0 0 #444, 20px 30px 0 0 #444, 25px 30px 0 0 #444, 30px 30px 0 0 #444, 35px 30px 0 0 #444, 40px 30px 0 0 #444,
	0 35px 0 0 #444, 5px 35px 0 0 #444, 10px 35px 0 0 #444, 15px 35px 0 0 #444, 20px 35px 0 0 #444, 25px 35px 0 0 #444, 30px 35px 0 0 #444, 35px 35px 0 0 #444, 40px 35px 0 0 #444,
	0 40px 0 0 #444, 5px 40px 0 0 #444, 10px 40px 0 0 #444, 15px 40px 0 0 #444, 20px 40px 0 0 #444, 25px 40px 0 0 #444, 30px 40px 0 0 #444, 35px 40px 0 0 #444, 40px 40px 0 0 #444,
	0 45px 0 0 #444, 5px 45px 0 0 #444, 10px 45px 0 0 #444, 15px 45px 0 0 #444, 20px 45px 0 0 #444, 25px 45px 0 0 #444, 30px 45px 0 0 #444, 35px 45px 0 0 #444, 40px 45px 0 0 #444,
	0 50px 0 0 #444, 5px 50px 0 0 #444, 10px 50px 0 0 #444, 15px 50px 0 0 #444, 20px 50px 0 0 #444, 25px 50px 0 0 #444, 30px 50px 0 0 #444, 35px 50px 0 0 #444, 40px 50px 0 0 #444,
	0 55px 0 0 #444, 5px 55px 0 0 #444, 10px 55px 0 0 #444, 15px 55px 0 0 #444, 20px 55px 0 0 #444, 25px 55px 0 0 #444, 30px 55px 0 0 #444, 35px 55px 0 0 #444, 40px 55px 0 0 #444,
	0 60px 0 0 #444, 5px 60px 0 0 #444, 10px 60px 0 0 #444, 15px 60px 0 0 #444, 20px 60px 0 0 #444, 25px 60px 0 0 #444, 30px 60px 0 0 #444, 35px 60px 0 0 #444, 40px 60px 0 0 #444,
	0 65px 0 0 #444, 5px 65px 0 0 #444, 10px 65px 0 0 #444, 15px 65px 0 0 #444, 20px 65px 0 0 #444, 25px 65px 0 0 #444, 30px 65px 0 0 #444, 35px 65px 0 0 #444, 40px 65px 0 0 #444,
	0 70px 0 0 #444, 5px 70px 0 0 #444, 10px 70px 0 0 #444, 15px 70px 0 0 #444, 20px 70px 0 0 #444, 25px 70px 0 0 #444, 30px 70px 0 0 #444, 35px 70px 0 0 #444, 40px 70px 0 0 #444,
	0 75px 0 0 #444, 5px 75px 0 0 #444, 10px 75px 0 0 #444, 15px 75px 0 0 #444, 20px 75px 0 0 #444, 25px 75px 0 0 #444, 30px 75px 0 0 #444, 35px 75px 0 0 #444, 40px 75px 0 0 #444,
	0 80px 0 0 #444, 5px 80px 0 0 #444, 10px 80px 0 0 #444, 15px 80px 0 0 #444, 20px 80px 0 0 #444, 25px 80px 0 0 #444, 30px 80px 0 0 #444, 35px 80px 0 0 #444, 40px 80px 0 0 #444,
	0 85px 0 0 #444, 5px 85px 0 0 #444, 10px 85px 0 0 #444, 15px 85px 0 0 #444, 20px 85px 0 0 #444, 25px 85px 0 0 #444, 30px 85px 0 0 #444, 35px 85px 0 0 #444, 40px 85px 0 0 #444,
	0 90px 0 0 #444, 5px 90px 0 0 #444, 10px 90px 0 0 #444, 15px 90px 0 0 #444, 20px 90px 0 0 #444, 25px 90px 0 0 #444, 30px 90px 0 0 #444, 35px 90px 0 0 #444, 40px 90px 0 0 #444,
	0 95px 0 0 #444, 5px 95px 0 0 #444, 10px 95px 0 0 #444, 15px 95px 0 0 #444, 20px 95px 0 0 #444, 25px 95px 0 0 #444, 30px 95px 0 0 #444, 35px 95px 0 0 #444, 40px 95px 0 0 #444,
	0 100px 0 0 #444, 5px 100px 0 0 #444, 10px 100px 0 0 #444, 15px 100px 0 0 #444, 20px 100px 0 0 #444, 25px 100px 0 0 #444, 30px 100px 0 0 #444, 35px 100px 0 0 #444, 40px 100px 0 0 #444,
	0 105px 0 0 #444, 5px 105px 0 0 #444, 10px 105px 0 0 #444, 15px 105px 0 0 #444, 20px 105px 0 0 #444, 25px 105px 0 0 #444, 30px 105px 0 0 #444, 35px 105px 0 0 #444, 40px 105px 0 0 #444,
	0 110px 0 0 #444, 5px 110px 0 0 #444, 10px 110px 0 0 #444, 15px 110px 0 0 #444, 20px 110px 0 0 #444, 25px 110px 0 0 #444, 30px 110px 0 0 #444, 35px 110px 0 0 #444, 40px 110px 0 0 #444,
	0 115px 0 0 #444, 5px 115px 0 0 #444, 10px 115px 0 0 #444, 15px 115px 0 0 #444, 20px 115px 0 0 #444, 25px 115px 0 0 #444, 30px 115px 0 0 #444, 35px 115px 0 0 #444, 40px 115px 0 0 #444,
	0 120px 0 0 #444, 5px 120px 0 0 #444, 10px 120px 0 0 #444, 15px 120px 0 0 #444, 20px 120px 0 0 #444, 25px 120px 0 0 #444, 30px 120px 0 0 #444, 35px 120px 0 0 #444, 40px 120px 0 0 #444,
	0 125px 0 0 #444, 5px 125px 0 0 #444, 10px 125px 0 0 #444, 15px 125px 0 0 #444, 20px 125px 0 0 #444, 25px 125px 0 0 #444, 30px 125px 0 0 #444, 35px 125px 0 0 #444, 40px 125px 0 0 #444,
	0 130px 0 0 #444, 5px 130px 0 0 #444, 10px 130px 0 0 #444, 15px 130px 0 0 #444, 20px 130px 0 0 #444, 25px 130px 0 0 #444, 30px 130px 0 0 #444, 35px 130px 0 0 #444, 40px 130px 0 0 #444,
	0 135px 0 0 #444, 5px 135px 0 0 #444, 10px 135px 0 0 #444, 15px 135px 0 0 #444, 20px 135px 0 0 #444, 25px 135px 0 0 #444, 30px 135px 0 0 #444, 35px 135px 0 0 #444, 40px 135px 0 0 #444,
	0 140px 0 0 #444, 5px 140px 0 0 #444, 10px 140px 0 0 #444, 15px 140px 0 0 #444, 20px 140px 0 0 #444, 25px 140px 0 0 #444, 30px 140px 0 0 #444, 35px 140px 0 0 #444, 40px 140px 0 0 #444,
	0 145px 0 0 #444, 5px 145px 0 0 #444, 10px 145px 0 0 #444, 15px 145px 0 0 #444, 20px 145px 0 0 #444, 25px 145px 0 0 #444, 30px 145px 0 0 #444, 35px 145px 0 0 #444, 40px 145px 0 0 #444,
	0 150px 0 0 #444, 5px 150px 0 0 #444, 10px 150px 0 0 #444, 15px 150px 0 0 #444, 20px 150px 0 0 #444, 25px 150px 0 0 #444, 30px 150px 0 0 #444, 35px 150px 0 0 #444, 40px 150px 0 0 #444,
	0 155px 0 0 #444, 5px 155px 0 0 #444, 10px 155px 0 0 #444, 15px 155px 0 0 #444, 20px 155px 0 0 #444, 25px 155px 0 0 #444, 30px 155px 0 0 #444, 35px 155px 0 0 #444, 40px 155px 0 0 #444,
	0 160px 0 0 #444, 5px 160px 0 0 #444, 10px 160px 0 0 #444, 15px 160px 0 0 #444, 20px 160px 0 0 #444, 25px 160px 0 0 #444, 30px 160px 0 0 #444, 35px 160px 0 0 #444, 40px 160px 0 0 #444,
	0 165px 0 0 #444, 5px 165px 0 0 #444, 10px 165px 0 0 #444, 15px 165px 0 0 #444, 20px 165px 0 0 #444, 25px 165px 0 0 #444, 30px 165px 0 0 #444, 35px 165px 0 0 #444, 40px 165px 0 0 #444,
	0 170px 0 0 #444, 5px 170px 0 0 #444, 10px 170px 0 0 #444, 15px 170px 0 0 #444, 20px 170px 0 0 #444, 25px 170px 0 0 #444, 30px 170px 0 0 #444, 35px 170px 0 0 #444, 40px 170px 0 0 #444,
	0 175px 0 0 #444, 5px 175px 0 0 #444, 10px 175px 0 0 #444, 15px 175px 0 0 #444, 20px 175px 0 0 #444, 25px 175px 0 0 #444, 30px 175px 0 0 #444, 35px 175px 0 0 #444, 40px 175px 0 0 #444,
	0 180px 0 0 #444, 5px 180px 0 0 #444, 10px 180px 0 0 #444, 15px 180px 0 0 #444, 20px 180px 0 0 #444, 25px 180px 0 0 #444, 30px 180px 0 0 #444, 35px 180px 0 0 #444, 40px 180px 0 0 #444,
	0 185px 0 0 #444, 5px 185px 0 0 #444, 10px 185px 0 0 #444, 15px 185px 0 0 #444, 20px 185px 0 0 #444, 25px 185px 0 0 #444, 30px 185px 0 0 #444, 35px 185px 0 0 #444, 40px 185px 0 0 #444,
	0 190px 0 0 #444, 5px 190px 0 0 #444, 10px 190px 0 0 #444, 15px 190px 0 0 #444, 20px 190px 0 0 #444, 25px 190px 0 0 #444, 30px 190px 0 0 #444, 35px 190px 0 0 #444, 40px 190px 0 0 #444,
	0 195px 0 0 #444, 5px 195px 0 0 #444, 10px 195px 0 0 #444, 15px 195px 0 0 #444, 20px 195px 0 0 #444, 25px 195px 0 0 #444, 30px 195px 0 0 #444, 35px 195px 0 0 #444, 40px 195px 0 0 #444,
	0 200px 0 0 #444, 5px 200px 0 0 #444, 10px 200px 0 0 #444, 15px 200px 0 0 #444, 20px 200px 0 0 #444, 25px 200px 0 0 #444, 30px 200px 0 0 #444, 35px 200px 0 0 #444, 40px 200px 0 0 #444,
	0 205px 0 0 #444, 5px 205px 0 0 #444, 10px 205px 0 0 #444, 15px 205px 0 0 #444, 20px 205px 0 0 #444, 25px 205px 0 0 #444, 30px 205px 0 0 #444, 35px 205px 0 0 #444, 40px 205px 0 0 #444,
	0 210px 0 0 #444, 5px 210px 0 0 #444, 10px 210px 0 0 #444, 15px 210px 0 0 #444, 20px 210px 0 0 #444, 25px 210px 0 0 #444, 30px 210px 0 0 #444, 35px 210px 0 0 #444, 40px 210px 0 0 #444,
	0 215px 0 0 #444, 5px 215px 0 0 #444, 10px 215px 0 0 #444, 15px 215px 0 0 #444, 20px 215px 0 0 #444, 25px 215px 0 0 #444, 30px 215px 0 0 #444, 35px 215px 0 0 #444, 40px 215px 0 0 #444,
	0 220px 0 0 #444, 5px 220px 0 0 #444, 10px 220px 0 0 #444, 15px 220px 0 0 #444, 20px 220px 0 0 #444, 25px 220px 0 0 #444, 30px 220px 0 0 #444, 35px 220px 0 0 #444, 40px 220px 0 0 #444,
	0 225px 0 0 #444, 5px 225px 0 0 #444, 10px 225px 0 0 #444, 15px 225px 0 0 #444, 20px 225px 0 0 #444, 25px 225px 0 0 #444, 30px 225px 0 0 #444, 35px 225px 0 0 #444, 40px 225px 0 0 #444,
	0 230px 0 0 #444, 5px 230px 0 0 #444, 10px 230px 0 0 #444, 15px 230px 0 0 #444, 20px 230px 0 0 #444, 25px 230px 0 0 #444, 30px 230px 0 0 #444, 35px 230px 0 0 #444, 40px 230px 0 0 #444,
	0 235px 0 0 #444, 5px 235px 0 0 #444, 10px 235px 0 0 #444, 15px 235px 0 0 #444, 20px 235px 0 0 #444, 25px 235px 0 0 #444, 30px 235px 0 0 #444, 35px 235px 0 0 #444, 40px 235px 0 0 #444,
	0 240px 0 0 #444, 5px 240px 0 0 #444, 10px 240px 0 0 #444, 15px 240px 0 0 #444, 20px 240px 0 0 #444, 25px 240px 0 0 #444, 30px 240px 0 0 #444, 35px 240px 0 0 #444, 40px 240px 0 0 #444,
	0 245px 0 0 #444, 5px 245px 0 0 #444, 10px 245px 0 0 #444, 15px 245px 0 0 #444, 20px 245px 0 0 #444, 25px 245px 0 0 #444, 30px 245px 0 0 #444, 35px 245px 0 0 #444, 40px 245px 0 0 #444,
	0 250px 0 0 #444, 5px 250px 0 0 #444, 10px 250px 0 0 #444, 15px 250px 0 0 #444, 20px 250px 0 0 #444, 25px 250px 0 0 #444, 30px 250px 0 0 #444, 35px 250px 0 0 #444, 40px 250px 0 0 #444,
	0 255px 0 0 #444, 5px 255px 0 0 #444, 10px 255px 0 0 #444, 15px 255px 0 0 #444, 20px 255px 0 0 #444, 25px 255px 0 0 #444, 30px 255px 0 0 #444, 35px 255px 0 0 #444, 40px 255px 0 0 #444,
	0 260px 0 0 #444, 5px 260px 0 0 #444, 10px 260px 0 0 #444, 15px 260px 0 0 #444, 20px 260px 0 0 #444, 25px 260px 0 0 #444, 30px 260px 0 0 #444, 35px 260px 0 0 #444, 40px 260px 0 0 #444,
	0 265px 0 0 #444, 5px 265px 0 0 #444, 10px 265px 0 0 #444, 15px 265px 0 0 #444, 20px 265px 0 0 #444, 25px 265px 0 0 #444, 30px 265px 0 0 #444, 35px 265px 0 0 #444, 40px 265px 0 0 #444,
	0 270px 0 0 #444, 5px 270px 0 0 #444, 10px 270px 0 0 #444, 15px 270px 0 0 #444, 20px 270px 0 0 #444, 25px 270px 0 0 #444, 30px 270px 0 0 #444, 35px 270px 0 0 #444, 40px 270px 0 0 #444,
	0 275px 0 0 #444, 5px 275px 0 0 #444, 10px 275px 0 0 #444, 15px 275px 0 0 #444, 20px 275px 0 0 #444, 25px 275px 0 0 #444, 30px 275px 0 0 #444, 35px 275px 0 0 #444, 40px 275px 0 0 #444,
	0 280px 0 0 #444, 5px 280px 0 0 #444, 10px 280px 0 0 #444, 15px 280px 0 0 #444, 20px 280px 0 0 #444, 25px 280px 0 0 #444, 30px 280px 0 0 #444, 35px 280px 0 0 #444, 40px 280px 0 0 #444,
	0 285px 0 0 #444, 5px 285px 0 0 #444, 10px 285px 0 0 #444, 15px 285px 0 0 #444, 20px 285px 0 0 #444, 25px 285px 0 0 #444, 30px 285px 0 0 #444, 35px 285px 0 0 #444, 40px 285px 0 0 #444,
	0 290px 0 0 #444, 5px 290px 0 0 #444, 10px 290px 0 0 #444, 15px 290px 0 0 #444, 20px 290px 0 0 #444, 25px 290px 0 0 #444, 30px 290px 0 0 #444, 35px 290px 0 0 #444, 40px 290px 0 0 #444,
	0 295px 0 0 #444, 5px 295px 0 0 #444, 10px 295px 0 0 #444, 15px 295px 0 0 #444, 20px 295px 0 0 #444, 25px 295px 0 0 #444, 30px 295px 0 0 #444, 35px 295px 0 0 #444, 40px 295px 0 0 #444,
	0 300px 0 0 #444, 5px 300px 0 0 #444, 10px 300px 0 0 #444, 15px 300px 0 0 #444, 20px 300px 0 0 #444, 25px 300px 0 0 #444, 30px 300px 0 0 #444, 35px 300px 0 0 #444, 40px 300px 0 0 #444,
	0 305px 0 0 #444, 5px 305px 0 0 #444, 10px 305px 0 0 #444, 15px 305px 0 0 #444, 20px 305px 0 0 #444, 25px 305px 0 0 #444, 30px 305px 0 0 #444, 35px 305px 0 0 #444, 40px 305px 0 0 #444,
	0 310px 0 0 #444, 5px 310px 0 0 #444, 10px 310px 0 0 #444, 15px 310px 0 0 #444, 20px 310px 0 0 #444, 25px 310px 0 0 #444, 30px 310px 0 0 #444, 35px 310px 0 0 #444, 40px 310px 0 0 #444,
	0 315px 0 0 #444, 5px 315px 0 0 #444, 10px 315px 0 0 #444, 15px 315px 0 0 #444, 20px 315px 0 0 #444, 25px 315px 0 0 #444, 30px 315px 0 0 #444, 35px 315px 0 0 #444, 40px 315px 0 0 #444,
	0 320px 0 0 #444, 5px 320px 0 0 #444, 10px 320px 0 0 #444, 15px 320px 0 0 #444, 20px 320px 0 0 #444, 25px 320px 0 0 #444, 30px 320px 0 0 #444, 35px 320px 0 0 #444, 40px 320px 0 0 #444,
	0 325px 0 0 #444, 5px 325px 0 0 #444, 10px 325px 0 0 #444, 15px 325px 0 0 #444, 20px 325px 0 0 #444, 25px 325px 0 0 #444, 30px 325px 0 0 #444, 35px 325px 0 0 #444, 40px 325px 0 0 #444,
	0 330px 0 0 #444, 5px 330px 0 0 #444, 10px 330px 0 0 #444, 15px 330px 0 0 #444, 20px 330px 0 0 #444, 25px 330px 0 0 #444, 30px 330px 0 0 #444, 35px 330px 0 0 #444, 40px 330px 0 0 #444,
	0 335px 0 0 #444, 5px 335px 0 0 #444, 10px 335px 0 0 #444, 15px 335px 0 0 #444, 20px 335px 0 0 #444, 25px 335px 0 0 #444, 30px 335px 0 0 #444, 35px 335px 0 0 #444, 40px 335px 0 0 #444,
	0 340px 0 0 #444, 5px 340px 0 0 #444, 10px 340px 0 0 #444, 15px 340px 0 0 #444, 20px 340px 0 0 #444, 25px 340px 0 0 #444, 30px 340px 0 0 #444, 35px 340px 0 0 #444, 40px 340px 0 0 #444,
	0 345px 0 0 #444, 5px 345px 0 0 #444, 10px 345px 0 0 #444, 15px 345px 0 0 #444, 20px 345px 0 0 #444, 25px 345px 0 0 #444, 30px 345px 0 0 #444, 35px 345px 0 0 #444, 40px 345px 0 0 #444,
	0 350px 0 0 #444, 5px 350px 0 0 #444, 10px 350px 0 0 #444, 15px 350px 0 0 #444, 20px 350px 0 0 #444, 25px 350px 0 0 #444, 30px 350px 0 0 #444, 35px 350px 0 0 #444, 40px 350px 0 0 #444,
	0 355px 0 0 #444, 5px 355px 0 0 #444, 10px 355px 0 0 #444, 15px 355px 0 0 #444, 20px 355px 0 0 #444, 25px 355px 0 0 #444, 30px 355px 0 0 #444, 35px 355px 0 0 #444, 40px 355px 0 0 #444,
	0 360px 0 0 #444, 5px 360px 0 0 #444, 10px 360px 0 0 #444, 15px 360px 0 0 #444, 20px 360px 0 0 #444, 25px 360px 0 0 #444, 30px 360px 0 0 #444, 35px 360px 0 0 #444, 40px 360px 0 0 #444,
	0 365px 0 0 #444, 5px 365px 0 0 #444, 10px 365px 0 0 #444, 15px 365px 0 0 #444, 20px 365px 0 0 #444, 25px 365px 0 0 #444, 30px 365px 0 0 #444, 35px 365px 0 0 #444, 40px 365px 0 0 #444,
	0 370px 0 0 #444, 5px 370px 0 0 #444, 10px 370px 0 0 #444, 15px 370px 0 0 #444, 20px 370px 0 0 #444, 25px 370px 0 0 #444, 30px 370px 0 0 #444, 35px 370px 0 0 #444, 40px 370px 0 0 #444,

	1020px 0 0 0 #444, 1025px 0 0 0 #444, 1030px 0 0 0 #444, 1035px 0 0 0 #444, 1040px 0 0 0 #444, 1045px 0 0 0 #444, 1050px 0 0 0 #444, 1055px 0 0 0 #444, 1060px 0 0 0 #444,
	1020px 5px 0 0 #444, 1025px 5px 0 0 #444, 1030px 5px 0 0 #444, 1035px 5px 0 0 #444, 1040px 5px 0 0 #444, 1045px 5px 0 0 #444, 1050px 5px 0 0 #444, 1055px 5px 0 0 #444, 1060px 5px 0 0 #444,
	1020px 10px 0 0 #444, 1025px 10px 0 0 #444, 1030px 10px 0 0 #444, 1035px 10px 0 0 #444, 1040px 10px 0 0 #444, 1045px 10px 0 0 #444, 1050px 10px 0 0 #444, 1055px 10px 0 0 #444, 1060px 10px 0 0 #444,
	1020px 10px 0 0 #444, 1025px 10px 0 0 #444, 1030px 10px 0 0 #444, 1035px 10px 0 0 #444, 1040px 10px 0 0 #444, 1045px 10px 0 0 #444, 1050px 10px 0 0 #444, 1055px 10px 0 0 #444, 1060px 10px 0 0 #444,
	1020px 15px 0 0 #444, 1025px 15px 0 0 #444, 1030px 15px 0 0 #444, 1035px 15px 0 0 #444, 1040px 15px 0 0 #444, 1045px 15px 0 0 #444, 1050px 15px 0 0 #444, 1055px 15px 0 0 #444, 1060px 15px 0 0 #444,
	1020px 20px 0 0 #444, 1025px 20px 0 0 #444, 1030px 20px 0 0 #444, 1035px 20px 0 0 #444, 1040px 20px 0 0 #444, 1045px 20px 0 0 #444, 1050px 20px 0 0 #444, 1055px 20px 0 0 #444, 1060px 20px 0 0 #444,
	1020px 25px 0 0 #444, 1025px 25px 0 0 #444, 1030px 25px 0 0 #444, 1035px 25px 0 0 #444, 1040px 25px 0 0 #444, 1045px 25px 0 0 #444, 1050px 25px 0 0 #444, 1055px 25px 0 0 #444, 1060px 25px 0 0 #444,
	1020px 30px 0 0 #444, 1025px 30px 0 0 #444, 1030px 30px 0 0 #444, 1035px 30px 0 0 #444, 1040px 30px 0 0 #444, 1045px 30px 0 0 #444, 1050px 30px 0 0 #444, 1055px 30px 0 0 #444, 1060px 30px 0 0 #444,
	1020px 35px 0 0 #444, 1025px 35px 0 0 #444, 1030px 35px 0 0 #444, 1035px 35px 0 0 #444, 1040px 35px 0 0 #444, 1045px 35px 0 0 #444, 1050px 35px 0 0 #444, 1055px 35px 0 0 #444, 1060px 35px 0 0 #444,
	1020px 40px 0 0 #444, 1025px 40px 0 0 #444, 1030px 40px 0 0 #444, 1035px 40px 0 0 #444, 1040px 40px 0 0 #444, 1045px 40px 0 0 #444, 1050px 40px 0 0 #444, 1055px 40px 0 0 #444, 1060px 40px 0 0 #444,
	1020px 45px 0 0 #444, 1025px 45px 0 0 #444, 1030px 45px 0 0 #444, 1035px 45px 0 0 #444, 1040px 45px 0 0 #444, 1045px 45px 0 0 #444, 1050px 45px 0 0 #444, 1055px 45px 0 0 #444, 1060px 45px 0 0 #444,
	1020px 50px 0 0 #444, 1025px 50px 0 0 #444, 1030px 50px 0 0 #444, 1035px 50px 0 0 #444, 1040px 50px 0 0 #444, 1045px 50px 0 0 #444, 1050px 50px 0 0 #444, 1055px 50px 0 0 #444, 1060px 50px 0 0 #444,
	1020px 55px 0 0 #444, 1025px 55px 0 0 #444, 1030px 55px 0 0 #444, 1035px 55px 0 0 #444, 1040px 55px 0 0 #444, 1045px 55px 0 0 #444, 1050px 55px 0 0 #444, 1055px 55px 0 0 #444, 1060px 55px 0 0 #444,
	1020px 60px 0 0 #444, 1025px 60px 0 0 #444, 1030px 60px 0 0 #444, 1035px 60px 0 0 #444, 1040px 60px 0 0 #444, 1045px 60px 0 0 #444, 1050px 60px 0 0 #444, 1055px 60px 0 0 #444, 1060px 60px 0 0 #444,
	1020px 65px 0 0 #444, 1025px 65px 0 0 #444, 1030px 65px 0 0 #444, 1035px 65px 0 0 #444, 1040px 65px 0 0 #444, 1045px 65px 0 0 #444, 1050px 65px 0 0 #444, 1055px 65px 0 0 #444, 1060px 65px 0 0 #444,
	1020px 70px 0 0 #444, 1025px 70px 0 0 #444, 1030px 70px 0 0 #444, 1035px 70px 0 0 #444, 1040px 70px 0 0 #444, 1045px 70px 0 0 #444, 1050px 70px 0 0 #444, 1055px 70px 0 0 #444, 1060px 70px 0 0 #444,
	1020px 75px 0 0 #444, 1025px 75px 0 0 #444, 1030px 75px 0 0 #444, 1035px 75px 0 0 #444, 1040px 75px 0 0 #444, 1045px 75px 0 0 #444, 1050px 75px 0 0 #444, 1055px 75px 0 0 #444, 1060px 75px 0 0 #444,
	1020px 80px 0 0 #444, 1025px 80px 0 0 #444, 1030px 80px 0 0 #444, 1035px 80px 0 0 #444, 1040px 80px 0 0 #444, 1045px 80px 0 0 #444, 1050px 80px 0 0 #444, 1055px 80px 0 0 #444, 1060px 80px 0 0 #444,
	1020px 85px 0 0 #444, 1025px 85px 0 0 #444, 1030px 85px 0 0 #444, 1035px 85px 0 0 #444, 1040px 85px 0 0 #444, 1045px 85px 0 0 #444, 1050px 85px 0 0 #444, 1055px 85px 0 0 #444, 1060px 85px 0 0 #444,
	1020px 90px 0 0 #444, 1025px 90px 0 0 #444, 1030px 90px 0 0 #444, 1035px 90px 0 0 #444, 1040px 90px 0 0 #444, 1045px 90px 0 0 #444, 1050px 90px 0 0 #444, 1055px 90px 0 0 #444, 1060px 90px 0 0 #444,
	1020px 95px 0 0 #444, 1025px 95px 0 0 #444, 1030px 95px 0 0 #444, 1035px 95px 0 0 #444, 1040px 95px 0 0 #444, 1045px 95px 0 0 #444, 1050px 95px 0 0 #444, 1055px 95px 0 0 #444, 1060px 95px 0 0 #444,
	1020px 100px 0 0 #444, 1025px 100px 0 0 #444, 1030px 100px 0 0 #444, 1035px 100px 0 0 #444, 1040px 100px 0 0 #444, 1045px 100px 0 0 #444, 1050px 100px 0 0 #444, 1055px 100px 0 0 #444, 1060px 100px 0 0 #444,
	1020px 105px 0 0 #444, 1025px 105px 0 0 #444, 1030px 105px 0 0 #444, 1035px 105px 0 0 #444, 1040px 105px 0 0 #444, 1045px 105px 0 0 #444, 1050px 105px 0 0 #444, 1055px 105px 0 0 #444, 1060px 105px 0 0 #444,
	1020px 110px 0 0 #444, 1025px 110px 0 0 #444, 1030px 110px 0 0 #444, 1035px 110px 0 0 #444, 1040px 110px 0 0 #444, 1045px 110px 0 0 #444, 1050px 110px 0 0 #444, 1055px 110px 0 0 #444, 1060px 110px 0 0 #444,
	1020px 115px 0 0 #444, 1025px 115px 0 0 #444, 1030px 115px 0 0 #444, 1035px 115px 0 0 #444, 1040px 115px 0 0 #444, 1045px 115px 0 0 #444, 1050px 115px 0 0 #444, 1055px 115px 0 0 #444, 1060px 115px 0 0 #444,
	1020px 120px 0 0 #444, 1025px 120px 0 0 #444, 1030px 120px 0 0 #444, 1035px 120px 0 0 #444, 1040px 120px 0 0 #444, 1045px 120px 0 0 #444, 1050px 120px 0 0 #444, 1055px 120px 0 0 #444, 1060px 120px 0 0 #444,
	1020px 125px 0 0 #444, 1025px 125px 0 0 #444, 1030px 125px 0 0 #444, 1035px 125px 0 0 #444, 1040px 125px 0 0 #444, 1045px 125px 0 0 #444, 1050px 125px 0 0 #444, 1055px 125px 0 0 #444, 1060px 125px 0 0 #444,
	1020px 130px 0 0 #444, 1025px 130px 0 0 #444, 1030px 130px 0 0 #444, 1035px 130px 0 0 #444, 1040px 130px 0 0 #444, 1045px 130px 0 0 #444, 1050px 130px 0 0 #444, 1055px 130px 0 0 #444, 1060px 130px 0 0 #444,
	1020px 135px 0 0 #444, 1025px 135px 0 0 #444, 1030px 135px 0 0 #444, 1035px 135px 0 0 #444, 1040px 135px 0 0 #444, 1045px 135px 0 0 #444, 1050px 135px 0 0 #444, 1055px 135px 0 0 #444, 1060px 135px 0 0 #444,
	1020px 140px 0 0 #444, 1025px 140px 0 0 #444, 1030px 140px 0 0 #444, 1035px 140px 0 0 #444, 1040px 140px 0 0 #444, 1045px 140px 0 0 #444, 1050px 140px 0 0 #444, 1055px 140px 0 0 #444, 1060px 140px 0 0 #444,
	1020px 145px 0 0 #444, 1025px 145px 0 0 #444, 1030px 145px 0 0 #444, 1035px 145px 0 0 #444, 1040px 145px 0 0 #444, 1045px 145px 0 0 #444, 1050px 145px 0 0 #444, 1055px 145px 0 0 #444, 1060px 145px 0 0 #444,
	1020px 145px 0 0 #444, 1025px 145px 0 0 #444, 1030px 145px 0 0 #444, 1035px 145px 0 0 #444, 1040px 145px 0 0 #444, 1045px 145px 0 0 #444, 1050px 145px 0 0 #444, 1055px 145px 0 0 #444, 1060px 145px 0 0 #444,
	1020px 150px 0 0 #444, 1025px 150px 0 0 #444, 1030px 150px 0 0 #444, 1035px 150px 0 0 #444, 1040px 150px 0 0 #444, 1045px 150px 0 0 #444, 1050px 150px 0 0 #444, 1055px 150px 0 0 #444, 1060px 150px 0 0 #444,
	1020px 155px 0 0 #444, 1025px 155px 0 0 #444, 1030px 155px 0 0 #444, 1035px 155px 0 0 #444, 1040px 155px 0 0 #444, 1045px 155px 0 0 #444, 1050px 155px 0 0 #444, 1055px 155px 0 0 #444, 1060px 155px 0 0 #444,
	1020px 160px 0 0 #444, 1025px 160px 0 0 #444, 1030px 160px 0 0 #444, 1035px 160px 0 0 #444, 1040px 160px 0 0 #444, 1045px 160px 0 0 #444, 1050px 160px 0 0 #444, 1055px 160px 0 0 #444, 1060px 160px 0 0 #444,
	1020px 165px 0 0 #444, 1025px 165px 0 0 #444, 1030px 165px 0 0 #444, 1035px 165px 0 0 #444, 1040px 165px 0 0 #444, 1045px 165px 0 0 #444, 1050px 165px 0 0 #444, 1055px 165px 0 0 #444, 1060px 165px 0 0 #444,
	1020px 170px 0 0 #444, 1025px 170px 0 0 #444, 1030px 170px 0 0 #444, 1035px 170px 0 0 #444, 1040px 170px 0 0 #444, 1045px 170px 0 0 #444, 1050px 170px 0 0 #444, 1055px 170px 0 0 #444, 1060px 170px 0 0 #444,
	1020px 175px 0 0 #444, 1025px 175px 0 0 #444, 1030px 175px 0 0 #444, 1035px 175px 0 0 #444, 1040px 175px 0 0 #444, 1045px 175px 0 0 #444, 1050px 175px 0 0 #444, 1055px 175px 0 0 #444, 1060px 175px 0 0 #444,
	1020px 180px 0 0 #444, 1025px 180px 0 0 #444, 1030px 180px 0 0 #444, 1035px 180px 0 0 #444, 1040px 180px 0 0 #444, 1045px 180px 0 0 #444, 1050px 180px 0 0 #444, 1055px 180px 0 0 #444, 1060px 180px 0 0 #444,
	1020px 185px 0 0 #444, 1025px 185px 0 0 #444, 1030px 185px 0 0 #444, 1035px 185px 0 0 #444, 1040px 185px 0 0 #444, 1045px 185px 0 0 #444, 1050px 185px 0 0 #444, 1055px 185px 0 0 #444, 1060px 185px 0 0 #444,
	1020px 190px 0 0 #444, 1025px 190px 0 0 #444, 1030px 190px 0 0 #444, 1035px 190px 0 0 #444, 1040px 190px 0 0 #444, 1045px 190px 0 0 #444, 1050px 190px 0 0 #444, 1055px 190px 0 0 #444, 1060px 190px 0 0 #444,
	1020px 195px 0 0 #444, 1025px 195px 0 0 #444, 1030px 195px 0 0 #444, 1035px 195px 0 0 #444, 1040px 195px 0 0 #444, 1045px 195px 0 0 #444, 1050px 195px 0 0 #444, 1055px 195px 0 0 #444, 1060px 195px 0 0 #444,
	1020px 200px 0 0 #444, 1025px 200px 0 0 #444, 1030px 200px 0 0 #444, 1035px 200px 0 0 #444, 1040px 200px 0 0 #444, 1045px 200px 0 0 #444, 1050px 200px 0 0 #444, 1055px 200px 0 0 #444, 1060px 200px 0 0 #444,
	1020px 205px 0 0 #444, 1025px 205px 0 0 #444, 1030px 205px 0 0 #444, 1035px 205px 0 0 #444, 1040px 205px 0 0 #444, 1045px 205px 0 0 #444, 1050px 205px 0 0 #444, 1055px 205px 0 0 #444, 1060px 205px 0 0 #444,
	1020px 210px 0 0 #444, 1025px 210px 0 0 #444, 1030px 210px 0 0 #444, 1035px 210px 0 0 #444, 1040px 210px 0 0 #444, 1045px 210px 0 0 #444, 1050px 210px 0 0 #444, 1055px 210px 0 0 #444, 1060px 210px 0 0 #444,
	1020px 215px 0 0 #444, 1025px 215px 0 0 #444, 1030px 215px 0 0 #444, 1035px 215px 0 0 #444, 1040px 215px 0 0 #444, 1045px 215px 0 0 #444, 1050px 215px 0 0 #444, 1055px 215px 0 0 #444, 1060px 215px 0 0 #444,
	1020px 220px 0 0 #444, 1025px 220px 0 0 #444, 1030px 220px 0 0 #444, 1035px 220px 0 0 #444, 1040px 220px 0 0 #444, 1045px 220px 0 0 #444, 1050px 220px 0 0 #444, 1055px 220px 0 0 #444, 1060px 220px 0 0 #444,
	1020px 225px 0 0 #444, 1025px 225px 0 0 #444, 1030px 225px 0 0 #444, 1035px 225px 0 0 #444, 1040px 225px 0 0 #444, 1045px 225px 0 0 #444, 1050px 225px 0 0 #444, 1055px 225px 0 0 #444, 1060px 225px 0 0 #444,
	1020px 230px 0 0 #444, 1025px 230px 0 0 #444, 1030px 230px 0 0 #444, 1035px 230px 0 0 #444, 1040px 230px 0 0 #444, 1045px 230px 0 0 #444, 1050px 230px 0 0 #444, 1055px 230px 0 0 #444, 1060px 230px 0 0 #444,
	1020px 235px 0 0 #444, 1025px 235px 0 0 #444, 1030px 235px 0 0 #444, 1035px 235px 0 0 #444, 1040px 235px 0 0 #444, 1045px 235px 0 0 #444, 1050px 235px 0 0 #444, 1055px 235px 0 0 #444, 1060px 235px 0 0 #444,
	1020px 240px 0 0 #444, 1025px 240px 0 0 #444, 1030px 240px 0 0 #444, 1035px 240px 0 0 #444, 1040px 240px 0 0 #444, 1045px 240px 0 0 #444, 1050px 240px 0 0 #444, 1055px 240px 0 0 #444, 1060px 240px 0 0 #444,
	1020px 245px 0 0 #444, 1025px 245px 0 0 #444, 1030px 245px 0 0 #444, 1035px 245px 0 0 #444, 1040px 245px 0 0 #444, 1045px 245px 0 0 #444, 1050px 245px 0 0 #444, 1055px 245px 0 0 #444, 1060px 245px 0 0 #444,
	1020px 250px 0 0 #444, 1025px 250px 0 0 #444, 1030px 250px 0 0 #444, 1035px 250px 0 0 #444, 1040px 250px 0 0 #444, 1045px 250px 0 0 #444, 1050px 250px 0 0 #444, 1055px 250px 0 0 #444, 1060px 250px 0 0 #444,
	1020px 255px 0 0 #444, 1025px 255px 0 0 #444, 1030px 255px 0 0 #444, 1035px 255px 0 0 #444, 1040px 255px 0 0 #444, 1045px 255px 0 0 #444, 1050px 255px 0 0 #444, 1055px 255px 0 0 #444, 1060px 255px 0 0 #444,
	1020px 260px 0 0 #444, 1025px 260px 0 0 #444, 1030px 260px 0 0 #444, 1035px 260px 0 0 #444, 1040px 260px 0 0 #444, 1045px 260px 0 0 #444, 1050px 260px 0 0 #444, 1055px 260px 0 0 #444, 1060px 260px 0 0 #444,
	1020px 265px 0 0 #444, 1025px 265px 0 0 #444, 1030px 265px 0 0 #444, 1035px 265px 0 0 #444, 1040px 265px 0 0 #444, 1045px 265px 0 0 #444, 1050px 265px 0 0 #444, 1055px 265px 0 0 #444, 1060px 265px 0 0 #444,
	1020px 270px 0 0 #444, 1025px 270px 0 0 #444, 1030px 270px 0 0 #444, 1035px 270px 0 0 #444, 1040px 270px 0 0 #444, 1045px 270px 0 0 #444, 1050px 270px 0 0 #444, 1055px 270px 0 0 #444, 1060px 270px 0 0 #444,
	1020px 275px 0 0 #444, 1025px 275px 0 0 #444, 1030px 275px 0 0 #444, 1035px 275px 0 0 #444, 1040px 275px 0 0 #444, 1045px 275px 0 0 #444, 1050px 275px 0 0 #444, 1055px 275px 0 0 #444, 1060px 275px 0 0 #444,
	1020px 280px 0 0 #444, 1025px 280px 0 0 #444, 1030px 280px 0 0 #444, 1035px 280px 0 0 #444, 1040px 280px 0 0 #444, 1045px 280px 0 0 #444, 1050px 280px 0 0 #444, 1055px 280px 0 0 #444, 1060px 280px 0 0 #444,
	1020px 285px 0 0 #444, 1025px 285px 0 0 #444, 1030px 285px 0 0 #444, 1035px 285px 0 0 #444, 1040px 285px 0 0 #444, 1045px 285px 0 0 #444, 1050px 285px 0 0 #444, 1055px 285px 0 0 #444, 1060px 285px 0 0 #444,
	1020px 290px 0 0 #444, 1025px 290px 0 0 #444, 1030px 290px 0 0 #444, 1035px 290px 0 0 #444, 1040px 290px 0 0 #444, 1045px 290px 0 0 #444, 1050px 290px 0 0 #444, 1055px 290px 0 0 #444, 1060px 290px 0 0 #444,
	1020px 295px 0 0 #444, 1025px 295px 0 0 #444, 1030px 295px 0 0 #444, 1035px 295px 0 0 #444, 1040px 295px 0 0 #444, 1045px 295px 0 0 #444, 1050px 295px 0 0 #444, 1055px 295px 0 0 #444, 1060px 295px 0 0 #444,
	1020px 300px 0 0 #444, 1025px 300px 0 0 #444, 1030px 300px 0 0 #444, 1035px 300px 0 0 #444, 1040px 300px 0 0 #444, 1045px 300px 0 0 #444, 1050px 300px 0 0 #444, 1055px 300px 0 0 #444, 1060px 300px 0 0 #444,
	1020px 305px 0 0 #444, 1025px 305px 0 0 #444, 1030px 305px 0 0 #444, 1035px 305px 0 0 #444, 1040px 305px 0 0 #444, 1045px 305px 0 0 #444, 1050px 305px 0 0 #444, 1055px 305px 0 0 #444, 1060px 305px 0 0 #444,
	1020px 310px 0 0 #444, 1025px 310px 0 0 #444, 1030px 310px 0 0 #444, 1035px 310px 0 0 #444, 1040px 310px 0 0 #444, 1045px 310px 0 0 #444, 1050px 310px 0 0 #444, 1055px 310px 0 0 #444, 1060px 310px 0 0 #444,
	1020px 315px 0 0 #444, 1025px 315px 0 0 #444, 1030px 315px 0 0 #444, 1035px 315px 0 0 #444, 1040px 315px 0 0 #444, 1045px 315px 0 0 #444, 1050px 315px 0 0 #444, 1055px 315px 0 0 #444, 1060px 315px 0 0 #444,
	1020px 320px 0 0 #444, 1025px 320px 0 0 #444, 1030px 320px 0 0 #444, 1035px 320px 0 0 #444, 1040px 320px 0 0 #444, 1045px 320px 0 0 #444, 1050px 320px 0 0 #444, 1055px 320px 0 0 #444, 1060px 320px 0 0 #444,
	1020px 325px 0 0 #444, 1025px 325px 0 0 #444, 1030px 325px 0 0 #444, 1035px 325px 0 0 #444, 1040px 325px 0 0 #444, 1045px 325px 0 0 #444, 1050px 325px 0 0 #444, 1055px 325px 0 0 #444, 1060px 325px 0 0 #444,
	1020px 330px 0 0 #444, 1025px 330px 0 0 #444, 1030px 330px 0 0 #444, 1035px 330px 0 0 #444, 1040px 330px 0 0 #444, 1045px 330px 0 0 #444, 1050px 330px 0 0 #444, 1055px 330px 0 0 #444, 1060px 330px 0 0 #444,
	1020px 335px 0 0 #444, 1025px 335px 0 0 #444, 1030px 335px 0 0 #444, 1035px 335px 0 0 #444, 1040px 335px 0 0 #444, 1045px 335px 0 0 #444, 1050px 335px 0 0 #444, 1055px 335px 0 0 #444, 1060px 335px 0 0 #444,
	1020px 340px 0 0 #444, 1025px 340px 0 0 #444, 1030px 340px 0 0 #444, 1035px 340px 0 0 #444, 1040px 340px 0 0 #444, 1045px 340px 0 0 #444, 1050px 340px 0 0 #444, 1055px 340px 0 0 #444, 1060px 340px 0 0 #444,
	1020px 345px 0 0 #444, 1025px 345px 0 0 #444, 1030px 345px 0 0 #444, 1035px 345px 0 0 #444, 1040px 345px 0 0 #444, 1045px 345px 0 0 #444, 1050px 345px 0 0 #444, 1055px 345px 0 0 #444, 1060px 345px 0 0 #444,
	1020px 350px 0 0 #444, 1025px 350px 0 0 #444, 1030px 350px 0 0 #444, 1035px 350px 0 0 #444, 1040px 350px 0 0 #444, 1045px 350px 0 0 #444, 1050px 350px 0 0 #444, 1055px 350px 0 0 #444, 1060px 350px 0 0 #444,
	1020px 355px 0 0 #444, 1025px 355px 0 0 #444, 1030px 355px 0 0 #444, 1035px 355px 0 0 #444, 1040px 355px 0 0 #444, 1045px 355px 0 0 #444, 1050px 355px 0 0 #444, 1055px 355px 0 0 #444, 1060px 355px 0 0 #444,
	1020px 360px 0 0 #444, 1025px 360px 0 0 #444, 1030px 360px 0 0 #444, 1035px 360px 0 0 #444, 1040px 360px 0 0 #444, 1045px 360px 0 0 #444, 1050px 360px 0 0 #444, 1055px 360px 0 0 #444, 1060px 360px 0 0 #444,
	1020px 365px 0 0 #444, 1025px 365px 0 0 #444, 1030px 365px 0 0 #444, 1035px 365px 0 0 #444, 1040px 365px 0 0 #444, 1045px 365px 0 0 #444, 1050px 365px 0 0 #444, 1055px 365px 0 0 #444, 1060px 365px 0 0 #444,
	1020px 370px 0 0 #444, 1025px 370px 0 0 #444, 1030px 370px 0 0 #444, 1035px 370px 0 0 #444, 1040px 370px 0 0 #444, 1045px 370px 0 0 #444, 1050px 370px 0 0 #444, 1055px 370px 0 0 #444, 1060px 370px 0 0 #444;
}