.shape{
    border-bottom: 1px solid lightgray;
}

section{
    display: inline-block;
}

.rectangle{
    width: 150px;
    height: 100px;
    background: lightgreen;
}

.square{
    width: 100px;
    height: 100px;
    background: lightgreen;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: lightgreen;
}

.ellipse{
    width: 150px;
    height: 100px;
    background: lightgreen;
    border-radius: 50%;
}

.triangle-top{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid lightgreen;
}

.triangle-down{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid lightgreen;
}

.triangle-left{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid lightgreen;
}

.triangle-right{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid lightgreen;
}

.triangle-top-left{
    width: 0;
    height: 0;
    border-top: 100px solid lightgreen;
    border-right: 100px solid transparent;
}

.triangle-top-right{
    width: 0;
    height: 0;
    border-top: 100px solid lightgreen;
    border-left: 100px solid transparent;
}

.triangle-bottom-left{
    width: 0;
    height: 0;
    border-bottom: 100px solid lightgreen;
    border-right:  100px solid transparent;
}

.triangle-bottom-right{
    width: 0;
    height: 0;
    border-bottom: 100px solid lightgreen;
    border-left: 100px solid transparent;
}

.ladder-shaped{
    width: 100px;
    height: 0;
    border-left:  50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid lightgreen;
}

.parallelogram{
    position: relative;
    left: 50px;
    width: 150px;
    height: 100px;
    background: lightgreen;
    transform: skew(35deg);
}

.star-five{
    position: relative;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    top: -100px;
    transform: rotate(-145.5deg);
    border-top: 100px solid lightgreen;
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
}
.star-five::after{
    content: "";
    position: absolute;
    transform: rotate(-69deg);
    top: -111px;
    left: -129px;
    width: 0;
    height: 0;
    border-top: 100px solid lightgreen;
    border-left: 145px solid transparent;
    border-right: 145px solid transparent;
}
.star-five::before{
    content: "";
    position: absolute;
    transform: rotate(-35deg);
    top: -54px;
    left: 3px;
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-top: 120px solid lightgreen;
}

.star-six{
    position: relative;
    transform: translateY(-60px);
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid lightgreen;
}
.star-six::after{
    content: "";
    position: absolute;
    transform: translate(-100px, 65px);
    top: -3px;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid lightgreen;
}

.pentagon{
    width: 100px;
    height: 0;
    border-left:  50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid lightgreen;
}
.pentagon::before{
    content: "";
    position: absolute;
    transform: translate(-50px, -175px);
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 75px solid lightgreen;
}

.hexagon{
    position: relative;
    top: -200px;
    width: 200px;
    height: 100px;
    background: lightgreen;
}
.hexagon::before{
    content: "";
    position: absolute;
    transform: translate(0px,-60px);
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 60px solid lightgreen;
}

.hexagon::after{
    content: "";
    position: absolute;
    transform: translate(0px,100px);
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 60px solid lightgreen;
}

.octagon{
    position: relative;
    top: -200px;
    width: 200px;
    height: 70px;
    background: lightgreen;
}
.octagon::before{
    content: "";
    position: absolute;
    transform: translate(0px,-60px);
    width: 95px;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-bottom: 60px solid lightgreen;
}
.octagon::after{
    content: "";
    position: absolute;
    transform: translate(0px,70px);
    width: 95px;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 60px solid lightgreen;
}

.heart{
    width: 120px;
    height: 200px;
    position: relative;
    left: 40px;
    transform: rotate(-45deg);
    background: lightgreen;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}
.heart::before{
    content: "";
    position: absolute;
    transform: rotate(90deg) translate(40px, -41px);
    width: 120px;
    height: 200px;
    background: lightgreen;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}